@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}
#chart {
  margin-top: 23px;
}
.container {
  background-color:whitesmoke;
  border-radius: 20px;
}
